<form #f="ngForm" (ngSubmit)="guardarMedico(f)">
  <h2 mat-dialog-title>Agregar nuevo medico</h2>
  <mat-dialog-content>
    <section
      fxLayoutAlign="center"
      style="margin-top: 10px; margin-bottom: 10px"
    >
      <mat-card fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

          <mat-form-field style="width: 100%">
            <mat-label>Ingrese Cedula</mat-label>
            <input
              type="number"
              matInput
              placeholder="ejem. 1000010101"
              name="cedula"
              ngModel
              required
            />
            <mat-error>Debe ingresar la cedula</mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <mat-label>Ingrese el Nombre</mat-label>
            <input
              type="text"
              matInput
              placeholder="ejem. juan"
              name="nombre"
              ngModel
              required
            />
            <mat-error>Debe ingresar el nombre</mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <mat-label>Ingrese Apellido</mat-label>
            <input
              type="text"
              matInput
              placeholder="ejem. perez"
              name="apellido"
              ngModel
              required
            />
            <mat-error>Debe ingresar el apellido</mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <mat-label>Seleccione especializacion</mat-label>
            <mat-select
              [(ngModel)]="selectEspe"
              name="especializacion"
              (selectionChange)="selected($event)"
            >
              <mat-option *ngFor="let espe of especialist" [value]="espe">
                {{espe}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
    <button mat-button type="submit">Guardar</button>
  </mat-dialog-actions>
</form>

